*.pyc
config.py
speedtest.py
config_hbjsons.py
*.csv
.DS_Store
*.log
log/*.json
log/*.log
log/trace
!log/contacts_fr_dept.json
/*.json
logo/*.*
*.bak
templates/tginfo.html
images/nabilla.png
images/parrot.png
images/system.png
html/subscribers.html
html/xxsubscribers.html
html/container.html
html/slider.html
html/diagonal.html
html/index_tabs_v2.html
peer_ids.json
talkgroup_ids_i.json
.vscode/*.*
assets/active_subscriber_ids.json
assets/users.json
test.py

html/bar.html
scripts/f3498e88e8.js
travailbar.html
.gitignore
/*.json
