*.pyc
config.py
speedtest.py
config_hbjsons.py
*.csv
.DS_Store
*.log
log/*.json
!log/contacts_fr_dept.json
/*.json
logo/*.*
*.bak
templates/tginfo.html
images/nabilla.png
images/parrot.png
images/system.png
html/subscribers.html
html/container.html
peer_ids.json
talkgroup_ids_i.json
.vscode/*.*
assets/active_subscriber_ids.json
